* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow-x: hidden;
  padding: 0 20px;
}
.card {
  width: 90%;
  max-width: 470px;

  background-image: linear-gradient(
    to right top,
    #053537,
    #005f5a,
    #008d75,
    #00bb84,
    #12eb88
  );
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: none;
  outline: none;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px 0 0 30px;
  flex: 1;
  font-size: 18px;
  letter-spacing: 0.4px;
}
.search button {
  border: none;
  outline: none;
  background: #ebfffc;
  border-radius: 0 30px 30px 0px;

  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.23s linear;
}

.search button:hover {
  opacity: 0.9;
}
.error {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.5px;
  display: none;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
  font-size: 50px;
}
.weather-status {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 0.5px;
}
.weather {
  display: none;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: center;
}
.col i {
  font-size: 40px;
  margin-right: 10px;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
@media (max-width: 550px) {
  .card {
    width: 100%;
    padding: 40px 10px;
  }
}
@media (max-width: 450px) {
  .details {
    flex-direction: column;
  }
  .details .col {
    margin-bottom: 30px;
  }
  .search {
    padding: 20px 10px;
  }
  .search input {
    width: 100%;
  }
}
